@import './scss/general.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 8px;
};

body {
    background-color: $background;
}

button {
    background-color: transparent;
    border: none;
}

.hidden {
    display: none !important;
}