@import url('https://fonts.googleapis.com/css?family=Rubik:300,500&display=swap');

$title-1: normal 300 48px Rubik, sans-serif;
$title-1-m: normal 500 48px Rubik, sans-serif;
$title-2: normal 300 40px Rubik, sans-serif;
$title-2-m: normal 500 40px Rubik, sans-serif;
$title-3: normal 300 32px Rubik, sans-serif;
$title-3-m: normal 500 32px Rubik, sans-serif;
$title-4: normal 300 24px Rubik, sans-serif;
$title-4-m: normal 500 24px Rubik, sans-serif;
$big-text: normal 300 24px Rubik, sans-serif;
$big-text-m: normal 500 24px Rubik, sans-serif;
$medium-text: normal 300 16px Rubik, sans-serif;
$medium-text-m: normal 500 16px Rubik, sans-serif;
$small-text: normal 300 12px Rubik, sans-serif;
$small-text-m: normal 500 12px Rubik, sans-serif;
$caption: normal 300 12px Rubik, sans-serif;

caption {
    font: $caption;
    text-transform: uppercase;
    letter-spacing: 1.13px;
}

